<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thulium experiments</title>
    
    <script src="neon.js"></script>
    <script src="Thulium.js"></script>

    <style>
        .placeholder{
            width: 200px;
            height: 200px;
            background-color: #b8ff77;
        }

        .output{
            color : #ff3827;
            font-weight: bold;
        }
    </style>

</head>
<body>

<div class="placeholder">
    <span id="output">output</span>
</div>

    
<script id="template" type="text/template">
    <% 444+6 %>
    Normal text
    <span> HTML Code </span>
    <% if(true){ %>
        <% console.log('only exec!'); %>
    <% } %>
    <%= 4+5 %>
    Text and <%= 'code' %>
</script>

<script>
    var template = document.getElementById('template').innerHTML;
    var thulimInstance = new Tm(template);
    console.log( thulimInstance.compile(template) );
</script>

</body>
</html>