<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thulium experiments</title>
    
    <script src="neon.js"></script>
    <script src="Thulium.js"></script>

    <style>
        .placeholder{
            width: 200px;
            height: 200px;
            background-color: #b8ff77;
        }

        .output{
            color : #ff3827;
            font-weight: bold;
        }
    </style>

</head>
<body>

<div class="placeholder">
    <span id="output">output</span>
</div>

    
<script id="template" type="text/template">    
    este es el dos : <%= param2 %>
    <% var myText='teeeeext!!!'; %>
    <% for(var i = 0; i<10; i++) { %>
        <%= 'echo-'+i %>
    <% } %>

    <%= context.addHug( function(){ %>
        mi texto dice <%= myText %>
    <% }); %>

</script>

<script>

    var context = {
        addHug : function( cb ){
            return cb()+' (>n_n)>';
        }
    }

    var template = document.getElementById('template').innerHTML;
    var thulimInstance = new Tm(template);
    var compiledFunction = thulimInstance.process({context: context, param2 : 'mi segundo parametrio'});
    console.log( compiledFunction );
</script>

</body>
</html>